.tweets-main-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 1rem;
}

.tweet-container{
    background-color: #f5f5f5;
    color: #000;
    border-radius: 16px;
    padding: 0.52rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 2px 10px 2px #f5f5f5;
}
.tweet-container-heading{
    margin-bottom: 0;
}

.tweet-container p{
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 1.6;
}

.underline{
    height: 5px;
    background-color: #f5f5f5;
    width: 15%;
    margin: 0 auto;
    border-radius: 16px;
}